@page
@model FizzBuzz.Pages.Logs.IndexModel

@{
    ViewData["Title"] = "Server logs";
}

<h2>Server logs</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logs[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logs[0].RemoteIpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logs[0].LocalIpAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Logs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date) @Html.DisplayFor(modelItem => item.Date.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemoteIpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalIpAddress)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
